/* 
    RESET
*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
} */




.grey{
   background-color: #DBDBD2;
   height: 85%;
}
.lightgreen{
    height: 15%;
    background-color: #009688;
}
.box{
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.img-header{
    width: 60px;
    height: 60px;
}
img{
    width: 100%;    
}
.text-l{
    color: darkgray;
}
.bg-header{
    background-color: #D5D5D5;
    height: 100px;
}
.bell-icon{
    width: 60px;
    height: 60px;
    background-color: white;
    line-height: 60px;
}
.bg-lightblue{
    background-color: #8EDAFC;
}
.bg-light-bot{
background-color: #DFDAD7;
}
.color-lightblue{
    color: #8EDAFC;
}
.search-button{
    background-color: white;
    border:1px solid #D5D5D5;
    color: #D5D5D5;
    width: 10%;
}

.search-input{
    width: 90%;
    border:1px solid #D5D5D5;
}
.bg-special{
    background-image: url(../img/mine.jpg);
}
/* .mess{
    height: 10px;
    width: 50%;
    line-height: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    
} */

.mess{  
    width: 30%;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
}
.white{
    background-color: white;
    margin-left: 8%;
}
.green{
    background-color: #D5F9BA;
    margin-left: 50%;
}


/* height */
.altezza-scrivi{
    height: 50px;
}
.altezza{
    height: calc(100% - 150px);
}
.h60{
    height: 80px;
}
.altezza-side{
    height: calc(100% - 230px);
}
.end{
    bottom: 10px;
    right: 10px;
}

.mess-size{
    font-size: 12px;
    color: darkgray;
}
.data-size{
    font-size: 12px;
    color: darkgray;
}
.active{
    background-color: #D5D5D5;
    opacity: 1;
}